<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Internship Information System</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
  <!--  <link rel="stylesheet" href="../css/style.css"> -->
</head>

<body>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-md navbar-dark bg-dark sticky-top">
    <div class="container-fluid">
      <a class="navbar-brand" href="#"><img src="img/mini.png"></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" href="">Home<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href='../internshiprange'>Staj Aralığı Belirleme</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="../holidayselector">Tatil Günü Belirleme</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="../adduser">Kullanıcı Ekle</a>
          </li>
          <li>
            <span style="margin-left: 1000px; background-color: #343a40;" data-toggle="modal" data-target="#exit">
              <img src="img/logout.ico">
            </span>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- POPUP -->
  <div class="container">
    <div class="row">
      <div class="col-md-12">

        <div class="modal fade" id="exit">
          <div class="modal-dialog modal-sm">
            <div class="modal-content">
              <div class="modal-header">
                <h1>ÇIKIŞ</h1>
              </div>
              <div class="modal-body">
                Çıkış yapmak istediğinize emin misiniz?
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-danger" onclick="location.href=''">Geri</button>
                <button type="button" class="btn btn-success" onclick="location.href='/login'">Çıkış Yap</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-12">

        <div class="modal fade" id="add">
          <div class="modal-dialog modal-sm">
            <div class="modal-content">
              <div class="modal-header">
                <h1>Yeni Kullanıcı Bilgileri</h1>
              </div>
              <div class="modal-body">
                <div class="login_list">
                  <form action="/adduser" method="POST" class="login_list_row" id="registerform">
                    <div class="form_group_column">
                      <label for="name">Name</label>
                      <input type="name" id="name" name="name" class="form_control_r" placeholder="Enter Name" />
                      <label for="email">Email</label>
                      <input type="email" id="email" name="email" class="form_control_r" placeholder="Enter Email" />
                    </div>
                    <div class="form_group_column">
                      <label for="password">Password</label>
                      <input type="password" id="password" name="password" class="form_control_r"
                        placeholder="Create Password" />
                      <label for="password2">Confirm Password</label>
                      <input type="password" id="password2" name="password2" class="form_control_r"
                        placeholder="Confirm Password" />
                    </div>
                  </form>
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-danger" onclick="location.href=''">Geri</button>
                <button type="submit" class="btn btn-success" form="registerform">Kullanıcıyı Ekle</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--- Image Slider -->
  <button type="button" class="btn btn-success" data-toggle="modal" data-target="#add"
    style="margin-left:1400px; margin-top:50px;">Kullanıcı Ekle</button>

  <table class="table table-hover table-dark" style="width: 90%; margin-left: 75px; margin-top: 40px">
    <tr>
      <th scope="col">
        ID
      </th>
      <th scope="col">
        Name
      </th>
      <th scope="col">
        Email
      </th>
      <th scope="col">
        Type
      </th>
    </tr>

    {{#each personList}}

    <tr>
      <td>
        {{id}}
      </td>
      <td>
        {{name}}
      </td>
      <td>
        {{email}}
      </td>
      <td>
        {{type}}
      </td>
    </tr>

    {{/each}}
  </table>

</body>

</html>