<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/png" href="/img/mini.png" />
  <link rel="stylesheet" href="../css/style.css">
  <title>Internship Information System</title>
</head>

<div class="site">
  {{#if message}}
  <div class="alert">{{message}}</div>
  {{/if}}
  <div class="index">
    <h3 class="top" style='text-align:center;'>Ankara University Internship Information System</h3>
    <img src="../img/logo.jpg" alt="" class="logo">

    <div class="buttons">
      <button onclick="location.href='/login'" class="indexbutton" style='width: 49%;'>Login</button>
      <button onclick="location.href='/register'" class="indexbutton" style='width: 49%;'>Register</button>
    </div>
  </div>
</div>

<div class="foot">
  Ankara Üniversitesi 2020
</div>