<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/png" href="/img/mini.png" />
  <link rel="stylesheet" href="../css/style.css">
  <title>Internship Information System</title>
</head>

<div class="site">
  {{#if message}}
    {{#unless flag}}
      <div class="alert">{{message}}</div>
    {{/unless}}
    {{#if flag}}
      <div class="success">{{message}}</div> 
    {{/if}}
  {{/if}}
  <div class="form-box">
    <h3 class="top" style='text-align:center;'>Ankara University Internship Information System</h3>
    <img src="../img/logo.jpg" alt="" class="logo">
    <div class="login_list">
      <form action="/auth/login" class="login_list_row" method="POST" id="loginform">
        <div class="form_group_column">
          <label for="email">Email</label>
          <input type="email" id="email" name="email" class="form_control_r" placeholder="Enter Email" />
          <label for="password">Password</label>
          <input type="password" id="password" name="password" class="form_control_r" placeholder="Enter Password" />
        </div>
      </form>
      <button type="submit" class="submit_btn" form="loginform">Login</button>
    </div>
    <p class="account">No Account? <a href="/register">Register</a></p>
  </div>
</div>