<div class="site">
  <%- include ("./partials/messages") %>
  <div class="form-box">
    <h3 class = "top">Welcome to Internship Information System</h3>
    <img src="../img/logo.jpg" alt="" class="logo">
      <div class="login_list">
        <form  action="/users/login" method="POST">
          <div class="form_group">
            <label for="email">Email</label>
            <input
              type="email"
              id="email"
              name="email"
              class="form_control"
              placeholder="Enter Email"
            />
            <label for="password">Password</label>
            <input
              type="password"
              id="password"
              name="password"
              class="form_control"
              placeholder="Enter Password"
            />
          <button type="submit" class="submit_btn">Login</button>
          </div>
        </form>
        <p class="account">No Account? <a href="/users/register">Register</a></p>
      </div>
  </div>
</div>