<div>
    <div>
      <h3>WELCOME</h3>
        <div></div>
          <form action="/users/studentpage" method="POST">
            <div class="form_group_register_1">
              <label for="company_name">Name</label>
              <input
                type="name"
                id="company_name"
                name="company_name"
                class="form_control"
                placeholder="Enter Company Name"
                value="<%= typeof company_name != 'undefined' ? company_name : '' %>"
              />
              <label for="start_date">Start Date</label>
              <input
                type="date"
                id="start_date"
                name="start_date"
                class="form_control"
                placeholder="Enter Start Date"
                value="<%= typeof start_date != 'undefined' ? start_date : '' %>"
              />
            </div>
            <div class="form_group_register_2">
              <label for="finish_date">Finish Date</label>
              <input
                type="date"
                id="finish_date"
                name="finish_date"
                class="form_control"
                placeholder="Enter Finish Date"
                value="<%= typeof finish_date != 'undefined' ? finish_date : '' %>"
              />
              <label for="work_day">Work Day</label>
              <input
                type="number"
                id="work_day"
                name="work_day"
                class="form_control"
                placeholder="Enter Work Day"
                value="<%= typeof work_day != 'undefined' ? work_day : '' %>"
              />
            </div>
            <button type="submit">Submit</button>
          </form>
        </div>
      </div>
  </div>
