<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/png" href="/img/mini.png" />
  <link rel="stylesheet" href="../css/style.css">
  <title>Internship Information System</title>
</head>

<body>
  <div class="site">
    {{#if message}}
    <div class="alert">{{message}}</div>
    {{/if}}

    <div class="login_list">
      <form action="..." class="login_list_row" method="POST" id="loginform">
        <div class="form_group_column">

          <label for="Student ID">Student ID</label>
          <input type="text" id="Student ID" name="Student ID" class="form_control_r" placeholder="Student ID" />

          <label for="Company">Company</label>
          <input type="text" id="Company" name="Company" class="form_control_r" placeholder="Company" />

          <label for="Day">Day</label>
          <input type="text" id="Day" name="Day" class="form_control_r" placeholder="Day" />
          
        </div>
      </form>
      <button type="submit" class="submit_btn" form="loginform">Login</button>
    </div>

    </div>
</body>